In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as pyplot
import re
from helper import clean_team_salary_df

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
%load_ext autoreload

# Clean Blackhawks Salary DataFrame

In [2]:
salary_df = pd.read_csv('hawks_salary.csv')
salary_df = salary_df[1:]
salary_df = clean_team_salary_df(salary_df)

In [3]:
salary_df.to_csv('hawks_salary_clean.csv')

In [4]:
salary_df

      no.                name nationality pos  age  ht   wt hand  exp   salary
1      27        Adam Boqvist         SWE   D   19  71  179    R  0.5   925000
2      91      Drake Caggiula         CAN   F   25  70  176    L    3  1500000
3   46-47      Lucas Carlsson         SWE   D   22  72  189    L  0.5   792500
4      22      Ryan Carpenter         USA   F   29  72  200    R    4  1000000
6      77          Kirby Dach         CAN   F   19  76  197    R  0.5   925000
7      12      Alex DeBrincat         USA   F   22  67  165    R    2   800000
8      38       Brandon Hagel         CAN   F   21  71  174    L  0.5   925000
9      36    Matthew Highmore         CAN   F   23  71  188    L    1   817500
10     64         David Kampf         CZE   F   25  74  188    L    2  1000000
11     88        Patrick Kane         USA   F   31  70  177    L   12  9800000
12      2        Duncan Keith         CAN   D   36  73  192    L   14  3500000
13     68     Slater Koekkoek         CAN   D   25  74  193    L    5   925000
14      8     Dominik Kubalik         CZE   F   24  74  179    L  0.5   925000
15      6         Olli Maatta         FIN   D   25  74  206    L    6  4083300
16      5       Connor Murphy         USA   D   26  76  212    R    6  4400000
17     92  Alexander Nylander         CAN   F   21  73  192    R    3   832500
18     20        Brandon Saad         USA   F   27  73  206    L    8  6750000
19     55         Nick Seeler         USA   D   26  74  198    L    2   750000
20     15          Zack Smith         CAN   F   31  74  208    L   11  3250000
21     17        Dylan Strome         CAN   F   22  75  200    L    3   832500
23     19      Jonathan Toews         CAN   F   31  74  201    L   12  9800000

# Clean Blackhawks Player Stats DataFrame

In [5]:
hawks_df = pd.read_csv('skaters.csv')
hawks_df = hawks_df[hawks_df.team == 'CHI']

In [6]:
hawks_df.name.unique()

array(['Nick Seeler', 'Brent Seabrook', 'Drake Caggiula', 'Connor Murphy',
       'Matthew Highmore', 'David Kampf', 'Lucas Carlsson',
       'Dylan Sikura', 'Calvin de Haan', 'Zack Smith', 'Patrick Kane',
       'Dennis Gilbert', 'Jonathan Toews', 'Duncan Keith', 'Kirby Dach',
       'Dylan Strome', 'Alex Nylander', 'Ryan Carpenter',
       'Slater Koekkoek', 'Adam Boqvist', 'John Quenneville',
       'Anton Wedin', 'Dominik Kubalik', 'Brandon Hagel',
       'Nicolas Beaudin', 'Olli Maatta', 'Brandon Saad', 'Andrew Shaw',
       'Alex DeBrincat'], dtype=object)

In [10]:
hawks_df = hawks_df[hawks_df.situation == 'all']
hawks_df.name

266          Nick Seeler
311       Brent Seabrook
321       Drake Caggiula
361        Connor Murphy
466     Matthew Highmore
661          David Kampf
791       Lucas Carlsson
1021        Dylan Sikura
1026      Calvin de Haan
1456          Zack Smith
1801        Patrick Kane
1991      Dennis Gilbert
2016      Jonathan Toews
2231        Duncan Keith
2381          Kirby Dach
2661        Dylan Strome
2831       Alex Nylander
3091      Ryan Carpenter
3126     Slater Koekkoek
3426        Adam Boqvist
3641    John Quenneville
3726         Anton Wedin
3816     Dominik Kubalik
3936       Brandon Hagel
3976     Nicolas Beaudin
4126         Olli Maatta
4251        Brandon Saad
4281         Andrew Shaw
4336      Alex DeBrincat
Name: name, dtype: object