In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as pyplot
import re
%matplotlib inline

In [2]:
df = pd.read_csv('skaters.csv')

In [3]:
columns = df.columns.tolist()

In [4]:
df.team = df.team.astype('str')

In [5]:
hawks = df[df.team == 'CHI']

In [6]:
salary_df = pd.read_csv('hawks_salary.csv')
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 13 columns):
No.           23 non-null object
Player        24 non-null object
Flag          24 non-null object
Pos           24 non-null object
Age           24 non-null int64
Ht            24 non-null object
Wt            24 non-null int64
S/C           24 non-null object
Exp           24 non-null object
Birth Date    24 non-null object
Summary       22 non-null object
Salary        23 non-null object
Draft         20 non-null object
dtypes: int64(2), object(11)
memory usage: 2.6+ KB

In [7]:
salary_df = salary_df[1:]

In [8]:
col_titles = ['no.', 'name', 'nationality', 'pos', 'age', 'ht', 'wt', 'hand', 'exp', 'birth_date', 'summary', 'salary', 'draft']
salary_df.columns = col_titles

In [9]:
names = salary_df.name.tolist()
new_names = []
for name in names:
    new_names.append(name.split("\\")[0])
    
salary_df['name'] = new_names

In [10]:
country_dict = {'se':'SWE', 'ca':'CAN', 'us':'USA', 'cz':'CZE', 'fi':'FIN','ru':'RUS', 'ge':'GER'}
salary_df.nationality = salary_df.nationality.replace(country_dict)

In [11]:
handedness = salary_df.hand.tolist()
new_hand = []
for x in handedness:
    new_hand.append(x.split("/")[0])

salary_df['hand'] = new_hand

In [12]:
salary = salary_df.salary.tolist()
new_salary = []
for x in salary:
    x = x.replace(",","")
    new_salary.append(x.split("$")[1])
    
salary_df['salary'] = new_salary
salary_df.salary = salary_df.salary.astype('int')

In [13]:
salary_df.exp.replace({'R':'0.5'}, inplace = True)

In [14]:
index_names = salary_df[(salary_df.name == 'Corey Crawford') | (salary_df.name == 'Malcolm Subban')].index
salary_df.drop(index_names, inplace = True)

In [15]:
salary_df.drop('summary', axis = 1, inplace = True)

In [16]:
salary_df.name.replace({'Jonathan Toews (C)':'Jonathan Toews'}, inplace = True)

In [17]:
salary_df

,no.,name,nationality,pos,age,ht,wt,hand,exp,birth_date,salary,draft
1,27,Adam Boqvist,SWE,D,19,5-11,179,R,0.5,August 15 2000,925000,2018 CHI 1st (8)
2,91,Drake Caggiula,CAN,F,25,5-10,176,L,3,June 20 1994,1500000,NaN
3,46-47,Lucas Carlsson,SWE,D,22,6-0,189,L,0.5,July 5 1997,792500,2016 CHI 4th (110)
4,22,Ryan Carpenter,USA,F,29,6-0,200,R,4,January 18 1991,1000000,NaN
6,77,Kirby Dach,CAN,F,19,6-4,197,R,0.5,January 21 2001,925000,2019 CHI 1st (3)
7,12,Alex DeBrincat,USA,F,22,5-7,165,R,2,December 18 1997,800000,2016 CHI 2nd (39)
8,38,Brandon Hagel,CAN,F,21,5-11,174,L,0.5,August 27 1998,925000,2016 BUF 6th (159)
9,36,Matthew Highmore,CAN,F,23,5-11,188,L,1,February 27 1996,817500,NaN
10,64,David Kampf,CZE,F,25,6-2,188,L,2,January 12 1995,1000000,NaN
11,88,Patrick Kane,USA,F,31,5-10,177,L,12,November 19 1988,9800000,2007 CHI 1st (1)
12,2,Duncan Keith,CAN,D,36,6-1,192,L,14,July 16 1983,3500000,2002 CHI 2nd (54)
13,68,Slater Koekkoek,CAN,D,25,6-2,193,L,5,February 18 1994,925000,2012 TBL 1st (10)
14,8,Dominik Kubalik,CZE,F,24,6-2,179,L,0.5,August 21 1995,925000,2013 LAK 7th (191)
15,6,Olli Maatta,FIN,D,25,6-2,206,L,6,August 22 1994,4083300,2012 PIT 1st (22)
16,5,Connor Murphy,USA,D,26,6-4,212,R,6,March 26 1993,4400000,2011 PHX 1st (20)
17,92,Alexander Nylander,CAN,F,21,6-1,192,R,3,March 2 1998,832500,2016 BUF 1st (8)
18,20,Brandon Saad,USA,F,27,6-1,206,L,8,October 27 1992,6750000,2011 CHI 2nd (43)
19,55,Nick Seeler,USA,D,26,6-2,198,L,2,June 3 1993,750000,2011 MIN 5th (131)
20,15,Zack Smith,CAN,F,31,6-2,208,L,11,April 5 1988,3250000,2008 OTT 3rd (79)
21,17,Dylan Strome,CAN,F,22,6-3,200,L,3,March 7 1997,832500,2015 ARI 1st (3)
23,19,Jonathan Toews,CAN,F,31,6-2,201,L,12,April 29 1988,9800000,2006 CHI 1st (3)

In [18]:
height_foot = salary_df.ht[1].split('-')[0]
height_foot

'5'

In [22]:
heights = salary_df.ht.tolist()

new_heights = []

for x in heights:
    x = (int(x.split('-')[0]) * 12) + (int(x.split('-')[1]))
    new_heights.append(x)

In [23]:
new_heights

[71,
 70,
 72,
 72,
 76,
 67,
 71,
 71,
 74,
 70,
 73,
 74,
 74,
 74,
 76,
 73,
 73,
 74,
 74,
 75,
 74]