In [144]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as pyplot
import re
%matplotlib inline

In [145]:
df = pd.read_csv('skaters.csv')

In [146]:
df.team = df.team.astype('str')

In [147]:
hawks = df[df.team == 'CHI']

In [148]:
salary_df = pd.read_csv('hawks_salary.csv')
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 13 columns):
No.           23 non-null object
Player        24 non-null object
Flag          24 non-null object
Pos           24 non-null object
Age           24 non-null int64
Ht            24 non-null object
Wt            24 non-null int64
S/C           24 non-null object
Exp           24 non-null object
Birth Date    24 non-null object
Summary       22 non-null object
Salary        23 non-null object
Draft         20 non-null object
dtypes: int64(2), object(11)
memory usage: 2.6+ KB

In [149]:
salary_df.head()

,No.,Player,Flag,Pos,Age,Ht,Wt,S/C,Exp,Birth Date,Summary,Salary,Draft
0,NaN,Nicolas Beaudin\beaudni01,ca,D,20,5-11,168,L/-,R,October 7 1999,NaN,NaN,2018 CHI 1st (27)
1,27,Adam Boqvist\boqviad01,se,D,19,5-11,179,R/-,R,August 15 2000,4 G 9 A 13 P,"$925,000",2018 CHI 1st (8)
2,91,Drake Caggiula\caggidr01,ca,F,25,5-10,176,L/-,3,June 20 1994,9 G 6 A 15 P,"$1,500,000",NaN
3,46-47,Lucas Carlsson\carlslu01,se,D,22,6-0,189,L/-,R,July 5 1997,0 G 1 A 1 P,"$792,500",2016 CHI 4th (110)
4,22,Ryan Carpenter\carpery01,us,F,29,6-0,200,R/-,4,January 18 1991,3 G 12 A 15 P,"$1,000,000",NaN

In [150]:
salary_df = salary_df[1:]

In [151]:
col_titles = ['no.', 'name', 'nationality', 'pos', 'age', 'ht', 'wt', 'hand', 'exp', 'birth_date', 'summary', 'salary', 'draft']
salary_df.columns = col_titles

In [152]:
names = salary_df.name.tolist()
new_names = []
for name in names:
    new_names.append(name.split("\\")[0])
    
salary_df['name'] = new_names

In [153]:
country_dict = {'se':'SWE', 'ca':'CAN', 'us':'USA', 'cz':'CZE', 'fi':'FIN','ru':'RUS', 'ge':'GER'}
salary_df.nationality = salary_df.nationality.replace(country_dict)

In [154]:
handedness = salary_df.hand.tolist()
new_hand = []
for x in handedness:
    new_hand.append(x.split("/")[0])

salary_df['hand'] = new_hand

In [155]:
salary = salary_df.salary.tolist()
new_salary = []
for x in salary:
    x = x.replace(",","")
    new_salary.append(x.split("$")[1])
    
salary_df['salary'] = new_salary
salary_df.salary = salary_df.salary.astype('int')

In [156]:
salary_df.exp.replace({'R':'0.5'}, inplace = True)

In [157]:
index_names = salary_df[(salary_df.name == 'Corey Crawford') | (salary_df.name == 'Malcolm Subban')].index
salary_df.drop(index_names, inplace = True)

In [158]:
heights = salary_df.ht.tolist()
new_heights = []
for x in heights:
    x = (int(x.split('-')[0]) * 12) + (int(x.split('-')[1]))
    new_heights.append(x)
    
salary_df.ht = new_heights

In [159]:
salary_df.drop(['summary', 'draft', 'birth_date'], axis = 1, inplace = True)

In [160]:
salary_df.to_csv('hawks_salary_clean.csv')

In [161]:
salary_df

      no.                name nationality pos  age  ht   wt hand  exp   salary
1      27        Adam Boqvist         SWE   D   19  71  179    R  0.5   925000
2      91      Drake Caggiula         CAN   F   25  70  176    L    3  1500000
3   46-47      Lucas Carlsson         SWE   D   22  72  189    L  0.5   792500
4      22      Ryan Carpenter         USA   F   29  72  200    R    4  1000000
6      77          Kirby Dach         CAN   F   19  76  197    R  0.5   925000
7      12      Alex DeBrincat         USA   F   22  67  165    R    2   800000
8      38       Brandon Hagel         CAN   F   21  71  174    L  0.5   925000
9      36    Matthew Highmore         CAN   F   23  71  188    L    1   817500
10     64         David Kampf         CZE   F   25  74  188    L    2  1000000
11     88        Patrick Kane         USA   F   31  70  177    L   12  9800000
12      2        Duncan Keith         CAN   D   36  73  192    L   14  3500000
13     68     Slater Koekkoek         CAN   D   25  74  193    L    5   925000
14      8     Dominik Kubalik         CZE   F   24  74  179    L  0.5   925000
15      6         Olli Maatta         FIN   D   25  74  206    L    6  4083300
16      5       Connor Murphy         USA   D   26  76  212    R    6  4400000
17     92  Alexander Nylander         CAN   F   21  73  192    R    3   832500
18     20        Brandon Saad         USA   F   27  73  206    L    8  6750000
19     55         Nick Seeler         USA   D   26  74  198    L    2   750000
20     15          Zack Smith         CAN   F   31  74  208    L   11  3250000
21     17        Dylan Strome         CAN   F   22  75  200    L    3   832500
23     19  Jonathan Toews (C)         CAN   F   31  74  201    L   12  9800000