In [47]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as pyplot
%matplotlib inline

In [48]:
df = pd.read_csv('skaters.csv')

In [49]:
columns = df.columns.tolist()

In [50]:
df.team = df.team.astype('str')

In [51]:
hawks = df[df.team == 'CHI']

In [52]:
salary_df = pd.read_csv('hawks_salary.csv')
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 13 columns):
No.           23 non-null object
Player        24 non-null object
Flag          24 non-null object
Pos           24 non-null object
Age           24 non-null int64
Ht            24 non-null object
Wt            24 non-null int64
S/C           24 non-null object
Exp           24 non-null object
Birth Date    24 non-null object
Summary       22 non-null object
Salary        23 non-null object
Draft         20 non-null object
dtypes: int64(2), object(11)
memory usage: 2.6+ KB

In [53]:
salary_df = salary_df[1:]

In [63]:
col_titles = ['no.', 'name', 'nationality', 'pos', 'age', 'ht', 'wt', 'hand', 'exp', 'birth_date', 'summary', 'salary', 'draft']
salary_df.columns = col_titles

In [64]:
salary_df

,no.,name,nationality,pos,age,ht,wt,hand,exp,birth_date,summary,salary,draft
1,27,Adam Boqvist,SWE,D,19,5-11,179,R/-,R,August 15 2000,4 G 9 A 13 P,"$925,000",2018 CHI 1st (8)
2,91,Drake Caggiula,CAN,F,25,5-10,176,L/-,3,June 20 1994,9 G 6 A 15 P,"$1,500,000",NaN
3,46-47,Lucas Carlsson,SWE,D,22,6-0,189,L/-,R,July 5 1997,0 G 1 A 1 P,"$792,500",2016 CHI 4th (110)
4,22,Ryan Carpenter,USA,F,29,6-0,200,R/-,4,January 18 1991,3 G 12 A 15 P,"$1,000,000",NaN
5,50,Corey Crawford,CAN,G,35,6-2,216,-/L,12,December 31 1984,15-20-3 2.79 GAA,"$5,000,000",2003 CHI 2nd (52)
6,77,Kirby Dach,CAN,F,19,6-4,197,R/-,R,January 21 2001,8 G 14 A 22 P,"$925,000",2019 CHI 1st (3)
7,12,Alex DeBrincat,USA,F,22,5-7,165,R/-,2,December 18 1997,18 G 24 A 42 P,"$800,000",2016 CHI 2nd (39)
8,38,Brandon Hagel,CAN,F,21,5-11,174,L/-,R,August 27 1998,NaN,"$925,000",2016 BUF 6th (159)
9,36,Matthew Highmore,CAN,F,23,5-11,188,L/-,1,February 27 1996,2 G 4 A 6 P,"$817,500",NaN
10,64,David Kampf,CZE,F,25,6-2,188,L/-,2,January 12 1995,8 G 8 A 16 P,"$1,000,000",NaN
11,88,Patrick Kane,USA,F,31,5-10,177,L/-,12,November 19 1988,31 G 51 A 82 P,"$9,800,000",2007 CHI 1st (1)
12,2,Duncan Keith,CAN,D,36,6-1,192,L/-,14,July 16 1983,2 G 23 A 25 P,"$3,500,000",2002 CHI 2nd (54)
13,68,Slater Koekkoek,CAN,D,25,6-2,193,L/-,5,February 18 1994,1 G 8 A 9 P,"$925,000",2012 TBL 1st (10)
14,8,Dominik Kubalik,CZE,F,24,6-2,179,L/-,R,August 21 1995,29 G 16 A 45 P,"$925,000",2013 LAK 7th (191)
15,6,Olli Maatta,FIN,D,25,6-2,206,L/-,6,August 22 1994,4 G 13 A 17 P,"$4,083,300",2012 PIT 1st (22)
16,5,Connor Murphy,USA,D,26,6-4,212,R/-,6,March 26 1993,5 G 14 A 19 P,"$4,400,000",2011 PHX 1st (20)
17,92,Alexander Nylander,CAN,F,21,6-1,192,R/-,3,March 2 1998,9 G 15 A 24 P,"$832,500",2016 BUF 1st (8)
18,20,Brandon Saad,USA,F,27,6-1,206,L/-,8,October 27 1992,20 G 12 A 32 P,"$6,750,000",2011 CHI 2nd (43)
19,55,Nick Seeler,USA,D,26,6-2,198,L/-,2,June 3 1993,0 G 1 A 1 P,"$750,000",2011 MIN 5th (131)
20,15,Zack Smith,CAN,F,31,6-2,208,L/-,11,April 5 1988,4 G 7 A 11 P,"$3,250,000",2008 OTT 3rd (79)
21,17,Dylan Strome,CAN,F,22,6-3,200,L/-,3,March 7 1997,12 G 25 A 37 P,"$832,500",2015 ARI 1st (3)
22,30,Malcolm Subban,CAN,G,26,6-2,200,-/L,4,December 21 1993,0-0-0 0.00 GAA,"$850,000",2012 BOS 1st (24)
23,19,Jonathan Toews (C),CAN,F,31,6-2,201,L/-,12,April 29 1988,18 G 40 A 58 P,"$9,800,000",2006 CHI 1st (3)

In [69]:
names = salary_df.name.tolist()
new_names = []
for name in names:
    new_names.append(name.split("\\")[0])
    
salary_df['name'] = new_names

In [70]:
country_dict = {'se':'SWE', 'ca':'CAN', 'us':'USA', 'cz':'CZE', 'fi':'FIN','ru':'RUS', 'ge':'GER'}
salary_df.nationality = salary_df.nationality.replace(country_dict)

In [71]:
handedness = salary_df.hand.tolist()
new_hand = []
for x in handedness:
    new_hand.append(x.split("/")[0])

salary_df['hand'] = new_hand

In [74]:
salary_df.exp.replace({'R':'0.5'}, inplace = True)

In [82]:
index_names = salary_df[(salary_df.name == 'Corey Crawford') | (salary_df.name == 'Malcolm Subban')].index
salary_df.drop(index_names, inplace = True)

In [83]:
salary_df.drop(labels = 'draft', inplace = Tru)

,no.,name,nationality,pos,age,ht,wt,hand,exp,birth_date,summary,salary,draft
1,27,Adam Boqvist,SWE,D,19,5-11,179,R,0.5,August 15 2000,4 G 9 A 13 P,"$925,000",2018 CHI 1st (8)
2,91,Drake Caggiula,CAN,F,25,5-10,176,L,3,June 20 1994,9 G 6 A 15 P,"$1,500,000",NaN
3,46-47,Lucas Carlsson,SWE,D,22,6-0,189,L,0.5,July 5 1997,0 G 1 A 1 P,"$792,500",2016 CHI 4th (110)
4,22,Ryan Carpenter,USA,F,29,6-0,200,R,4,January 18 1991,3 G 12 A 15 P,"$1,000,000",NaN
6,77,Kirby Dach,CAN,F,19,6-4,197,R,0.5,January 21 2001,8 G 14 A 22 P,"$925,000",2019 CHI 1st (3)
7,12,Alex DeBrincat,USA,F,22,5-7,165,R,2,December 18 1997,18 G 24 A 42 P,"$800,000",2016 CHI 2nd (39)
8,38,Brandon Hagel,CAN,F,21,5-11,174,L,0.5,August 27 1998,NaN,"$925,000",2016 BUF 6th (159)
9,36,Matthew Highmore,CAN,F,23,5-11,188,L,1,February 27 1996,2 G 4 A 6 P,"$817,500",NaN
10,64,David Kampf,CZE,F,25,6-2,188,L,2,January 12 1995,8 G 8 A 16 P,"$1,000,000",NaN
11,88,Patrick Kane,USA,F,31,5-10,177,L,12,November 19 1988,31 G 51 A 82 P,"$9,800,000",2007 CHI 1st (1)
12,2,Duncan Keith,CAN,D,36,6-1,192,L,14,July 16 1983,2 G 23 A 25 P,"$3,500,000",2002 CHI 2nd (54)
13,68,Slater Koekkoek,CAN,D,25,6-2,193,L,5,February 18 1994,1 G 8 A 9 P,"$925,000",2012 TBL 1st (10)
14,8,Dominik Kubalik,CZE,F,24,6-2,179,L,0.5,August 21 1995,29 G 16 A 45 P,"$925,000",2013 LAK 7th (191)
15,6,Olli Maatta,FIN,D,25,6-2,206,L,6,August 22 1994,4 G 13 A 17 P,"$4,083,300",2012 PIT 1st (22)
16,5,Connor Murphy,USA,D,26,6-4,212,R,6,March 26 1993,5 G 14 A 19 P,"$4,400,000",2011 PHX 1st (20)
17,92,Alexander Nylander,CAN,F,21,6-1,192,R,3,March 2 1998,9 G 15 A 24 P,"$832,500",2016 BUF 1st (8)
18,20,Brandon Saad,USA,F,27,6-1,206,L,8,October 27 1992,20 G 12 A 32 P,"$6,750,000",2011 CHI 2nd (43)
19,55,Nick Seeler,USA,D,26,6-2,198,L,2,June 3 1993,0 G 1 A 1 P,"$750,000",2011 MIN 5th (131)
20,15,Zack Smith,CAN,F,31,6-2,208,L,11,April 5 1988,4 G 7 A 11 P,"$3,250,000",2008 OTT 3rd (79)
21,17,Dylan Strome,CAN,F,22,6-3,200,L,3,March 7 1997,12 G 25 A 37 P,"$832,500",2015 ARI 1st (3)
23,19,Jonathan Toews (C),CAN,F,31,6-2,201,L,12,April 29 1988,18 G 40 A 58 P,"$9,800,000",2006 CHI 1st (3)